:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgd-text-color: #ffffff;
  --accent-color: #2196f3;
  --icon-fon: #f5f4fa;
  --icon-primary-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  background-color: var(--bgd-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------HEADER------------------------ */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container,
.site-nav,
.site-nav__list {
  display: flex;
  align-items: center;
}

.page-header__list {
  display: flex;
  margin-left: auto;
}

.site-nav__item:not(:last-child),
.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav__accent,
.site-nav__link--active {
  color: var(--accent-color);
}

.site-nav__link--active {
  position: relative;
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color var(--duration) var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.page-header__link {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border: none;
  color: var(--secondary-text-color);

  transition: color var(--duration) var(--timing-function);
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--accent-color);
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ----------------------СТУДИЯ (MAIN)------------------- */
.poster {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;

  max-width: 1600px;
  /* min-height: 600px; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.poster__title {
  margin-bottom: 30px;

  color: var(--bgd-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.poster__button {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.poster__button:hover,
.poster__button:focus {
  background-color: #188ce8;
}

/* ---------------------МОДАЛЬНОЕ ОКНО-------------------- */
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--duration) var(--timing-function);

  z-index: 1;
}

.dropdown--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.dropdown .dropdown__container {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.dropdown__container {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  max-height: 581px;

  background-color: var(--bgd-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);

  z-index: 2;
}

.dropdown__close {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 100%;

  padding: 6px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;

  cursor: pointer;
}

.dropdown__close:hover .dropdown__icon,
.dropdown__close:focus .dropdown__icon {
  fill: var(--accent-color);
}

.dropdown__icon {
  transition: fill var(--duration) var(--timing-function);
}

/* -----------Форма модального окна-------------- */
.dropdown__form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.dropdown__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.dropdown__cell {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dropdown__cell label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: start;
  color: var(--secondary-text-color);
}

.dropdown__cell input {
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
}

.dropdown__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--duration) var(--timing-function);
}

.dropdown__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: var(--accent-color);

  transition: border-color var(--duration) var(--timing-function);
}

.dropdown__input:focus {
  border-color: var(--accent-color);
}

.dropdown__input:focus + .dropdown__icon {
  fill: var(--accent-color);
}

.dropdown__cell--textarea {
  margin: 0;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  width: 448px;
  height: 120px;

  resize: none;
}

.dropdown__cell--textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement__label {
  display: flex;
  align-items: center;
}

.agreement__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-origin: border-box;

  transition: border-color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.agreement__input:checked ~ .agreement-icon {
  border-color: transparent;
  background-color: var(--accent-color);
}

.agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.agreement__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.dropdown__button {
  padding: 10px 55px;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdown__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgd-text-color);
}

/* ---------------НАШИ ПРЕИМУЩЕСТВА---------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--icon-fon);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* --------------------ЧЕМ МЫ ЗАНИМАЕМСЯ---------------- */
.suggestions {
  padding-top: 0;
}

.suggestions__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.suggestions__list {
  display: flex;
}

.suggestions__item {
  position: relative;
  width: 370px;
}

.suggestions__item:not(:last-child) {
  margin-right: 30px;
}

.suggestions__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.suggestions__text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--bgd-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ------------------НАША КОМАНДА-------------------- */
.teammate {
  background-color: #f5f4fa;
}

.teammate__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.teammate__list {
  display: flex;
}

.teammate__item {
  width: 270px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.teammate__item:not(:last-child) {
  margin-right: 30px;
}

.teammate__card {
  padding: 30px 32px;
  background-color: var(--bgd-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.teammate__name {
  margin-bottom: 10px;

  font-weight: 500;
}

.teammate__profession {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-weight: 400;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__link {
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--icon-primary-color);
  background-color: var(--bgd-text-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--bgd-text-color);
}

/* -------------------ПОСТОЯННЫЕ КЛИЕНТЫ------------------- */

.customers__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.customers__list {
  display: flex;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  color: var(--icon-primary-color);

  transition: border-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.customers__icon {
  fill: currentColor;
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* -----------------ПОРТФОЛИО (MAIN)--------------------- */
.portfolio::after {
  width: 78px;
}

a {
  text-decoration: none;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-link {
  display: block;

  transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.first-part {
  position: relative;

  overflow: hidden;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition: background-color var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}

.project-link:hover .over,
.project-link:focus .over {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--bgd-text-color);

  transition: color var(--duration) var(--timing-function);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  color: var(--bgd-text-color);
}

.second-part {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-name {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.name-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
}

/* ----------------------ФУТЕР---------------------- */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: var(--bgd-text-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--bgd-text-color);
}

.page-footer__list,
.page-footer__item {
  margin-top: 9px;
}

.page-footer__accent {
  color: var(--accent-color);
}

.page-footer__address,
.page-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.page-footer__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--duration) var(--timing-function);
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: var(--accent-color);
}

.page-footer__card {
  margin-right: 70px;
}

/* Присоединяйтесь */
.attach {
  margin-right: 93px;
}

.attach__title {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.attach__list {
  display: flex;
}

.attach__item {
  display: inline-block;
}

.attach__item:not(:last-child) {
  margin-right: 10px;
}

.attach__link {
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--bgd-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.attach__icon {
  fill: currentColor;
}

.attach__link:hover,
.attach__link:focus {
  background-color: var(--accent-color);
  color: var(--bgd-text-color);
}

/* ------------------------Форма---------------------- */
.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form__input {
  margin: 0;
  margin-right: 12px;
  padding-left: 16px;

  width: 358px;
  height: 50px;
  color: var(--icon-fon);
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  outline: transparent;

  transition: border-color var(--duration) var(--timing-function);
}

.footer-form__input:focus {
  border-color: var(--icon-primary-color);
}

.footer-form__title {
  display: flex;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-text-color);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  border: 2px solid transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.footer-form__submit {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgd-text-color);
}
